
@media (max-width: 767px) {
    .parentcontainer{
      flex-direction: column;
    }
    .child{
      width: 90%;
    }
  
    

    .container{
        width: 40%;
    }

    .vedio{
      flex-direction: column;
    }
  
  }